body {
	background: #f3f2f3;
	color: #000000;
	font-family: Arial;
	font-size: 14px;
}

#container {
	margin: 30px auto;
	width: 900px;
	height: 100%;
	background: #f3f2f3;
}

#header {
	background: #fff;
	width: 890px;
	padding: 20px 5px;
	height: 120px;
	margin-bottom: 15px;
}

#menu {
	background: #333333;
	float: left;
	width: 190px;
	margin-right: 10px;
	height: 100%;
}

#content {
	background: #fff;
	float: right;
	width: 680px;
	height: 100%;
	padding: 25px 10px;
	text-align: justify;
}

#clear {
	clear:both;
}

#footer {
	background: #838283;
	width: 820px;
	padding: 10px 40px;
	margin-top: 15px;
	color: #fff;
}

img{
	width: 100%;
	height: 100%;
}


.logo{
	float: left;
	width: 180px;
}

.info-comp{
	font-size: 18px;
	text-align: center;
	padding-top: 25px;
}

.name-comp{
	font-size: 38px;
	font-weight: bold;
}

ul.menu{
	list-style: none;
	padding-left: 25px;
}

ul.menu li{
	padding: 5px 0;
	font-size: 16px;
}

ul.menu li a{
	text-decoration: none;
	color: #fff;
}

ul.menu li a:hover{
	color:#fb0;
	text-decoration: underline;
}

div.hits{
	border-top: 1px solid #ccc;
	padding-top: 10px;
	margin-top: 25px;
}

.head-hits{
	font-size: 20px;
	margin-left: 10px;
}

ul.hits li{
	width: 150px;
	float: left;
	list-style: none;
	padding-left: 3px;
}

#footer .left-footer{
	float: left;
	width: 200px;
	height: 50px;
}

#footer .right-footer{
	text-align: right;
}

.img-products {
	width:300px;
	height: 400px;
}

.name-product{
	font-size: 20px;
	margin-top:15px;
	margin-bottom: 25px;
}

.description-product{
	text-align: justify;
}

.price-product{
	margin-top: 25px;
	color: #f08;
	font-size: 28px;
}

.img-personal{
	width:180px;
	height: 200px;
}

.name-personal{
	font-size: 20px;
	margin-top:15px;
	margin-bottom: 25px;
}

.description-personal{
	text-align: justify;
}


.otzyvy{
	border-top: 1px solid #ccc;
	padding-top: 25px;
	margin-top: 25px;
}

.post{
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	margin-bottom: 20px;
	border-left: 4px solid #ccc;
	margin-left: 10px;
	padding-left: 5px;
}

.post-info .user{
	font-size: 110%;
	font-weight: bold;
}

.post-info .date{
	font-size: 90%;
	color:#ccd;
	padding-left: 5px;
}

.text-post{
	margin-top: 5px;
}

.form-group{
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 5px;
}

.head-form{
	font-size: 120%;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 35px;
}

.form-group label{
	display: block;
}

.form-group input{
	display: block;
	width: 100%;
}

.form-group textarea{
	display: block;
	width: 100%;
}

.img-new {
	width:100px;
	height: 100px;
}

.name-new{
	font-size: 20px;
	margin-top:15px;
	margin-bottom: 25px;
}

.description-new{
	text-align: justify;
}