.slider#owl-demo .item img{
	display: block;
	width: 100%;
	height: auto;
}

.hits#owl-demo .item{
	background: #3fbf79;
	padding: 30px 0px;
	margin: 10px;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}

.customNavigation{
  text-align: center;
}

.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.grid_12 .extra_wrapper p{
	text-align: justify;
}

.grid_12 h2.h2 {
	font-size: 32px;
}

footer {
	font-size: 110%;
}

.price{
	font-size: 110%;
	color: #f80000;
}

.product{
	border-top: 1px solid #ccc;
}